@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
	color: midnightblue;

	background-color: lavenderblush;

	font-size: 15px;
}

a {
	color: goldenrod;
	font-family: "Lexend", sans-serif;
}

h1 {
	font-family: PT Serif, serif;
	border-width: 4px;
	border-style: solid;
	border-radius: 12px;
	padding: .5em 1em;
	padding-top: 0.2em;
	text-align: center;
	/*margin: 1em;*/
}

p {
	font-family: Futura, sans-serif;
	font-size: 1.3em;
	/*font-size: 15px;*/
}

div#container {
	margin: 0 auto;
	width: 850px;

}